---
layout: default
---
<section class="heading">
    <div class="container medium">
        <h1>About Gnoppix</h1>
        
<br><br>
Gnoppix Linux was developed in September 2002 and was based on Debian GNU/Linux 3.0 (Woody).
<br><br>
After the successful public launch of Gnoppix in 2003, Gnoppix Lead Andreas Müller was hired by Canonical to implement Gnoppix Linux LiveCD functionality into the 1<sup>st</sup> Ubuntu 4.10 aka Warty in 2004. Since Ubuntu and Gnoppix Linux became identical, the Gnoppix Project was stopped, as there was no longer a need for it. Andreas then founded the Kubuntu Project.
<br><br>
Gnoppix Linux was relaunched in 2021 during the COVID-19 pandemic. Gnoppix is and was always based on Debian GNU Linux.
It is free and secure to use, no personal datas were taken nor uploaded to somewhere.
<br><br>
Gnoppix Linux is a user-friendly Linux distribution that makes the power of Linux accessible to everyone. It comes with a familiar user interface and all the apps and tools you need for everyday use.
<br><br>
Gnoppix Linux is the perfect operating system for people who want a fast, reliable, and secure operating system that is also easy to use.
<br><br><br><br>

    </div>
</section>
<section class="page blog">
    <div class="container medium">
        {{ content }}
    </div>
</section>
